h1 {
    text-align: center;
    color: red;
    background-color: yellowgreen;
    font-size: 40px;
}

#desc {
    font-style: italic;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 100px;
    font-size: 25px;
}

ul {
    margin-right: 40px;
    list-style: none;
}


ol {
    list-style: none;
    color: rgb(144, 106, 248);
    text-align: center;
    opacity: 2;
    font-size: 27px;
}

a {
    display: inline-block;
    font-size: 25px;
    border: 3px red solid;
    color: purple;
    width: 300px;
    text-align: center;
    background-color: aquamarine;
    text-decoration: none;
    margin-bottom: 5px;
}

a:hover {
    cursor: pointer;
    background-color: rgb(103, 150, 11);
}

a:active {
    background-color: black;
}