* {
    box-sizing: border-box;
}

p {
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: 1px solid black;
    width: 90%;
    height: 100px;
}

div {
    width: 100%;
}
/* ***************************************** Media ***************************************** */

@media (min-width: 1200px) {
    .box1 {
        width: 25%;
    }
    .box2 {
        width: 25%;
    }
    .box3 {
        width: 25%;
    }
    .box4 {
        width: 25%;
    }
}

@media (min-width: 940px) and (max-width: 1199px) {
    .box1 {
        width: 50%;
    }
    .box2 {
        width: 50%;
    }
    .box3 {
        width: 50%;
    }
    .box4 {
        width: 50%;
    }
}

@media (min-width: 500px) and (max-width: 939px) {
    .box1, .box3 {
        width: 75%;
        margin-right: 10%;
    }
    .box2, .box4 {
        width: 15%;
    }
}